
*{ 
margin: 0px; 
padding: 0px;


}


body{ 
display: grid; 

grid-template-columns: 30% 70%;
}

.sidebarSection{ 
background-color: #1992D4; 

color: white;

font-family: Sans-serif	;
grid-row: 1 / 3;

}

.sidebarSection li{ 
list-style: none; }




.cardsSection{ 

background-color: #E2E8F0;
 }
.projectCards{ 
 
display: grid;
gap: 10px;
grid-template-columns: 40% 40% 20%;
 }

 .cards{ 


 background-color: white;
  }
.announcements{ 
grid-column: 3 / 4;
grid-row: 1 / 3; }
